<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <EnvironmentName>Production</EnvironmentName>
    <SelfContained>false</SelfContained>
    <UseAppHost>false</UseAppHost>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>
</Project>
